// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$updated-color:     rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-airbrake styles
// ----------------------------------------------------------------------------
.widget-airbrake {

  background-color: $background-color;

  .title {
    color: $title-color;
    margin-bottom: 15px;
  }

  .more-info {
    color: $moreinfo-color;
  }
  .updated-at {
    color: $updated-color;
  }
  .num-errors {
    font-size: 65px;
    font-weight:bold;
  }
}

.red { background-color:#9A2039; }
.yellow { background-color:#F17F5B; }
.green { background-color:#3B985F; }
.gray { background-color:gray; }

